node_modules/
.expo/
dist/
web-build/
.pnpm-store/

*.log
npm-debug.*
yarn-debug.*
yarn-error.*

.env
.env.local
*.p8
*.p12
*.key
*.mobileprovision
*.jks
*.keystore

.DS_Store
*.orig.*

ios/
android/
